<img class="profile-tile__image" src={{profileImg}} alt={{name}}>
<ul class="profile-tile__info">
  <li class="profile-tile__name">{{displayIndex}}{{name}}</li>
  <li class="profile-tile__rating">{{rating}}</li>
  <li>{{address}}</li>
  <li>{{cuisineType}}</li>
  <li>{{hours}}</li>
</ul>

<ul class="profile-tile__secondary-info">
  <li>{{price}}</li>
</ul>

