<img class="review-tile__image" src={{profileImg}} alt={{username}}>
<ul class="review-tile__info">
  <li class="review-tile__name">{{username}}</li>
  <li class="review-tile__review-text">{{{reviewText}}}</li>
  <li class="review-tile__date">{{moment-from-now date}}</li>
  <li class="review-tile__likes">{{likeText}}</li>
</ul>

